### Byte-compiled ###
__pycache__/
*.py[cod]
*$py.class


### C extensions ###
*.so


### Distribution / packaging ###
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg


### Environments ###
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pypi-token.pypi

### Mac OSX finder indexer ###
**/.DS_Store


### Mypy ###
.mypy_cache/
.dmypy.json
dmypy.json


### Ruff ###
.ruff_cache


### Workspace settings ###
.idea
.ignore
.vscode
